
div{
				
	}

.header{
	width: 450px;
	padding: 40px;
	text-align: center;
	background-color: black;
	color: white;
}

.footer{
	width: 450px;
	padding: 10px;
	text-align: center;
	background-color: black;
	color: white;
	margin-top: 10px;
}


.box{
	background-color : rgb(0,0,255);
	color : rgba(255,255,255,0);
	margin : 10px;
	width: 150px;
	height: 150px;
	float: left;
	transition: border-radius 3s;

}

.box:hover{
	text-shadow: 2px 2px #000000;
	color : rgba(255,255,255,255);
	transition: color 3s text-shadow 3s;
}

img:hover{

}




.container{
	width: 600px;
	height: 200px;
	margin: 10px;
}

.caption{
	padding: 0px;
	font-size: 24px;
	margin: 0px;
	text-align: center;
	font-family: sans-serif;
	position: relative;
	bottom: 60px;
}

img{
	width: 150px;
	border-radius: 10px;
}

.buttons{
	background-color: #00ccff;
	padding: 10px;
	width: 450px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
input{
	width: 100px;
	height: 30px;
	background-color: purple;
	color: white;
}

